:root {
  --user-primary: #F205CB;
  --helper-primary: #7C05F2;
  --background-color: #CCC7D1;
  --darker-background-color: #998FA3;
}

body {
    background-color: var(--background-color);
}

button {
    border-radius: 4px;
    color: #FFF;
    border: 0;
    background-color: var(--primary);
    margin: 30px;
}

.title {
  background-color: #F23827;
  color: #FFF;
  padding-left: 30px;
}

.leaflet-container {
  background-color: #CCC;
}

.user {
  --primary: #F205CB;
}


.helper {
  --primary: #7C05F2;
}

.credit::after { 
  content:"CREDIT";
  font-size: 6px;
  display: inline-block;
  transform: rotate(90deg) translate(-8px, 0px);
}
