body {
    background-color: lightblue
}

button {
    border: solid black;
    background-color: lightgreen 
}

input { 
    background-color: lightyellow
}
select { 
    background-color: lightyellow
}

tr  {
    background-color: aliceblue;
    border: solid black
}



